{% extends 'base.html' %}
{% load static %}

{% block title %}Student Details{% endblock title %}

{% block content %}
    <main id="content">
        <h1>Student Details</h1>
        <div class="card">
            <p><strong>Name:</strong> {{ student }}</p>
            <p><strong>Email:</strong> {{ student.profile.user.email }}</p>
            <p><strong>Faculty:</strong> <a href="{% url 'faculty-details' student.faculty.pk %}" class="faculty-link">{{ student.faculty }}</a></p>
            <p><strong>Program:</strong> <a href="{% url 'program-details' student.enrolled_program.pk %}" class="program-link">{{ student.enrolled_program }}</a></p>
            <p><strong>Enrolled Courses:</strong></p>
            <ul class="simple-list">
                {% for course in student.enrolled_courses.all %}
                    <li><a href="{% url 'course-details' course.pk %}" class="course-link">{{ course }}</a></li>
                {% empty %}
                    <li class="text-center">No courses enrolled</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-actions">
            <a href="{% url 'students' %}" class="btn secondary">Back</a>
        </div>
    </main>
{% endblock content %}