{% extends 'base.html' %}
{% load static %}

{% block title %}Programs Management{% endblock title %}

{% block content %}
    <main id="content">
        <section class="section">
            <h1>Programs Management</h1>
            <div class="toolbar">
                <a href="{% url 'add-program' %}" class="btn primary">Add Program</a>
            </div>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="table-container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Program Name</th>
                        <th>Department</th>
                        <th>Current Semester</th>
                        <th>Degree</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for program in programs %}
                    <tr>
                        <td>{{program.semester}}</td> {% comment %} using current model, switch to name? {% endcomment %}
                        <td>{{program.college.name }}</td> {% comment %} using current model, switch to department.name {% endcomment %}
                        <td>{{program.semester}}</td>
                        <td>{{program.year}}</td>
                        <td>
                            <div class="action-buttons">
                                <a href="{% url 'program-details' program.id %}" class="action-btn view-btn"><i
                                        class="fas fa-eye"></i></a>
                                <a href="{% url 'edit-program' program.id %}" class="action-btn edit-btn"><i
                                        class="fas fa-edit"></i></a>
                                <a href="{% url 'delete-program' program.id %}" class="action-btn delete-btn"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No programs available.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock content %}
