{% extends 'base.html' %}
{% load static %}

{% block title %}Programs Management{% endblock title %}

{% block content %}
    <main id="content">
        <section class="section">
            <h1>Programs Management</h1>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="table-container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Program Name</th>
                        <th>Department</th>
                        <th>Current Semester</th>
                        <th>Year</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for program in programs %}
                        <tr>
                            <td>{{ program }}</td>
                            <td>{{ program.department }}</td>
                            <td>{{ program.semester }}</td>
                            <td>{{ program.year }}</td>
                            <td>
                                <div class="action-buttons">
                                    <a href="{% url 'program-details' program.id %}" class="action-btn view-btn"><i
                                            class="fas fa-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">No programs available.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock content %}
