{% extends 'base.html' %}
{% load static %}

{% block title %}Program Details{% endblock title %}

{% block content %}
    <main id="content">
        <h1>Program Details</h1>
        <div class="detail-card card">
            <p><strong>Program Name:</strong> {{ program }}</p>
            <p><strong>Department:</strong> <a href="{% url 'department-details' program.department.pk %}" class="department-link">{{ program.department }}</a></p>
            <p><strong>Number of Courses:</strong> {{ program.courses.count }}</p>
            <p><strong>Enrolled Students:</strong> {{ program.students.count }}</p>
        </div>
        <a href="{% url 'programs' %}" class="btn secondary">Back</a>
    </main>
{% endblock content %}
