{% load static is_teacher %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://kit.fontawesome.com/64727f0e11.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/tables.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
</head>
<body>
{% block navbar %}
    <header>
        <nav class="topnav">
            <div class="nav-links">
                <a href="{% url 'departments' %}">Departments</a>
                <a href="{% url 'courses' %}">Courses</a>
                <a href="{% url 'teachers' %}">Teachers</a>
                {% if request.user|is_teacher %}
                    <a href="{% url 'students' %}">Students</a>
                    <a href="{% url 'faculties' %}">Faculties</a>
                {% endif %}
                <a href="{% url 'programs' %}">Programs</a>
                <a href="{% url 'statistics' %}">Statistics</a>
            </div>
            <div class="auth-buttons">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button id="logout-btn" class="btn warning">Logout</button>
                </form>
            </div>
        </nav>
    </header>
{% endblock %}
{% block content %}

{% endblock %}
<script src="{% get_static_prefix %}js/data.js"></script>
<script src="{% get_static_prefix %}js/ui.js"></script>
<script src="{% get_static_prefix %}js/app.js"></script>
</body>
</html>