{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>College Management System</title>
  <link rel="stylesheet" href="{% get_static_prefix %}css/style.css"/>
  <link rel="stylesheet" href="{% get_static_prefix %}css/responsive.css"/>
</head>
<body>
    {% block navbar %}
        <header class="navbar">
            <a href="#">Homepage</a>
            <a href="#">Profile</a>
            <a href="#">Address Book</a>
        </header>
    {% endblock %}
    {% block content %}

    {% endblock %}
    <script src="{% get_static_prefix %}js/data.js"></script>
    <script src="{% get_static_prefix %}js/ui.js"></script>
    <script src="{% get_static_prefix %}js/app.js"></script>
</body>
</html>